body{
background: url(images/bg.jpg);
background-repeat: repeat;
font-family: Calibri, Veranda, Arial;
font-size: 14px;
}

table.main_table{
   text-align: left; 
	width: 1000px;
	background: url(images/bg2.jpg);
  -webkit-box-shadow:0 0 10px gray;
  -khtml-box-shadow:0 0 10px gray;
  -moz-box-shadow:0 0 10px gray;
  box-shadow:0 0 10px gray;
}

td.logo{
	
}

td.hlavicka{

}

div.staznost{
font-size: 16px;
font-weight: bold;
  text-align: left;
  padding-left:20px;
  padding-top:10px;
  padding-bottom:10px;
  width: 800px;
  background-image: linear-gradient(bottom, rgb(247,255,0) 0%, rgb(255,0,0) 73%);
background-image: linear-gradient(bottom, rgb(0,136,255) 0%, rgb(13,255,0) 100%);
background-image: -o-linear-gradient(bottom, rgb(0,136,255) 0%, rgb(13,255,0) 100%);
background-image: -moz-linear-gradient(bottom, rgb(0,136,255) 0%, rgb(13,255,0) 100%);
background-image: -webkit-linear-gradient(bottom, rgb(0,136,255) 0%, rgb(13,255,0) 100%);
background-image: -ms-linear-gradient(bottom, rgb(0,136,255) 0%, rgb(13,255,0) 100%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0, rgb(0,136,255)),
	color-stop(1, rgb(13,255,0))
);

  border-radius: 15px;
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

td.vypis{

}

td.popis{
padding-bottom: 20px;
padding-top: 20px;
  }

.hladat{

  text-align: right;
}

#pole_staznosti{
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	}
#hlavicka_staznosti{
  -webkit-box-shadow:0 0 20px gray;
  -khtml-box-shadow:0 0 20px gray;
  -moz-box-shadow:0 0 20px gray;
  box-shadow:0 0 20px gray;		
	background:white;
	padding: 5px;
	-webkit-border-top-left-radius: 8px;-webkit-border-top-right-radius: 8px;-webkit-border-bottom-left-radius: 8px;-webkit-border-bottom-right-radius: 8px;-khtml-border-radius-topleft: 8px;-khtml-border-radius-topright: 8px;
	-khtml-border-radius-bottomleft: 8px;-khtml-border-radius-bottomright: 8px;-moz-border-radius-topleft: 8px;	-moz-border-radius-topright: 8px;-moz-border-radius-bottomleft: 8px;-moz-border-radius-bottomright: 8px;
	border-top-left-radius: 8px;border-top-right-radius: 8px;border-bottom-right-radius: 8px;border-bottom-left-radius: 8px;	
	}
	
#staznost_a{ 
	
	}
	
p.pata{
	position: center relative;
	vertical-align: bottom;
}