body {
background: url(images/bg.jpg) repeat;
font-family: Calibri, Arial, Times New Roman;
font-size: 14px;
}

div.staznost{
  top:150px;
  left:400px;
  padding-left:20px;
  padding-top:5px;
  position:absolute;
  width: 600px;
  background: gray;
  border-radius: 15px;
  -webkit-box-shadow:0 0 20px gray;
  -khtml-box-shadow:0 0 20px gray;
  -moz-box-shadow:0 0 20px gray;
  box-shadow:0 0 20px gray;
}

div.popis{
	top: 150px;
	left: 100px;
	position:absolute;
	width: 240px;
}

.logo{
  top: 50pxpx;
	left: 100px;
	position:absolute;
}

.hladat{
  top: 40px;
	left: 800px;
	position:absolute;
}
